 <!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Verification Success!</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap");

body {
	font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
	background: #fff;
}
.container {
	padding: 25px;
	background: #E3E4E6;
	text-align: center;
	border-radius: 5px;
}
.check {
	font-size: 300px;
	color: green;
}
</style>
<script src=""></script>
<body>


<main class="container">
	{%if status == 'success'%}
		<h1>Password Reset Successful, you can now log in</h1>
	{% else %}
	<h1>Reset Your Password</h1>

	<p>*At least 8 characters required</p>
	<form method="POST" action="/users/password/reset/?code={{code}}">
		<input type="password" name="password"/>
		<button type="submit">Reset</button>
	</form>
	{%endif %}
</main>

</body>
